*.meta
*.obj
*.pch

*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj

*.log

*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

*.txt


.vs/

Properties/

*.csproj

*.cfg

*.pdb

*.dat

*.exe

*.cache

*.resources

*.settings

*.config

*.resx

